{% extends "base.html" %}

{% block content %}

<div class="row-fluid">    
    <div class="span12">
        <div class="row-fluid">
            <div class="span6 hero-unit">
                <strong>Hot event stuffs here!</strong>
            </div>
            <div class="span6">
                <div class="span12">
                    <form method=post class="form-inline">
                        {{ login_form.csrf_token }}
                        {{ login_form.name(placeholder="Username", class="input-small") }}
                        {{ login_form.password(placeholder="Password", class="input-small") }}
                        <input type="submit" value="Login" class="btn"></input>
                    </form>
                </div>
  
                <div class="span12" style="background-color:#4099FF">
                    <form method=post class="form-horizontal">
                        {{ login_form.csrf_token }}
                        <div class='control-group' style="margin-bottom: 1px">
                            <label class="control-label" for="username">Username</label>
                                <div class="controls">
                                    {{ reg.username(id="username") }}
                                </div>
                        </div>

                        <div class="control-group" style="margin-bottom: 1px">
                            <label class="control-label" for="password">Password</label>
                                <div class="controls">
                                    {{ reg.password(id="password") }}
                                </div>
                        </div>

                        <div class="control-group" style="margin-bottom: 1px">
                            <label class="control-label" for="confirm_pass">Confirm Password</label>
                                <div class="controls">
                                    {{ reg.confirm_pass(id="confirm_pass") }}
                                </div>
                        </div>

                        <div class="control-group" style="margin-bottom: 1px">
                            <label class="control-label" for="email">Email</label>
                                <div class="controls">
                                    {{ reg.email(id="email") }}
                                </div>
                        </div>

                        <div class="control-group" style="margin-bottom: 1px">
                            <label class="control-label" for="fName">First Name</label>
                                <div class="controls">
                                    {{ reg.fName(id="fName") }}
                                </div>
                        </div>

                        <div class="control-group" style="margin-bottom: 1px">
                            <label class="control-label" for="mName">Middle Name/Initial</label>
                                <div class="controls">
                                    {{ reg.mName(id="mName") }} 
                                </div>
                        </div>
                        
                        <div class="control-group" style="margin-bottom: 1px">
                            <label class="control-label" for="lName">Last Name</label>
                                <div class="controls">
                                    {{ reg.lName(id="lName") }} 
                                </div>
                        </div>

                        <div class="control-group" style="margin-bottom: 1px">
                            <label class="control-label" for="zip">Zip Code</label>
                                <div class="controls">
                                    {{ reg.zip(id="zip") }}
                                </div>
                        </div>

                        <div class="control-group" style="margin-bottom: 1px">
                            <label class="control-label" for="dob">Date of Birth</label>
                                <div class="controls">
                                    {{ reg.dob(id="dob") }}
                                </div>
                        </div>
                        <div class="control-group" style="margin-bottom: 1px">
                            <div class="controls">
                                <input type="submit" value="Registration" class="btn"></input>
                            </div>
                        </div>
                    </form>    
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}
